.footer {
    background-color: #00000049;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.footer-content div:nth-of-type(1){
    margin-left: 1vw;
}

.footer-logo {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Do Hyeon";
}

.creator-info {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: "Nanum Pen Script";
}
.creator-info span {
    font-family: "Nanum Pen Script";
    color: skyblue;
}

.social-links {
    margin-right: 2vw;
}
.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 28px;
}
.social-links a:hover {
    color: #f8f9fa;
}

.copyright {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    font-size: 18px;
    color: #cfcfcf;
    font-weight: 400;
    font-family: "Jua";
    background: rgba(0, 0, 0, 0.305);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        margin: 15px 0;
    }
}
